name: Deploy

on:
  workflow_run:
    workflows: [ "Lint and Test" ]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: |
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'master'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_VPS_HOST }}
          username: ${{ secrets.SSH_VPS_USERNAME }}
          password: ${{ secrets.SSH_VPS_PASSWORD }}
          script: |
            cd ${{ secrets.SSH_PROJECT_PATH }}
            make stop
            git stash
            git pull origin master
            make build
            make restart
            make composer-install
            make cache-clear
            make cache-purge
