name: Run tests and deploy Application

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    tests:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Build and start containers
                run: |
                    make init

            -   name: Cache warmup
                run: |
                    make cache-warmup

            -   name: Run php-cs-fixer check
                run: |
                    make cs-check

            -   name: Run phpstan check
                run: |
                    make phpstan

            -   name: Run peck check
                run: |
                    make peck

            -   name: Run tests
                run: |
                    make test

            -   name: Stop containers
                if: always()
                run: |
                    docker compose -f docker/docker-compose.yml down
                    if [ "${{ job.status }}" == "success" ]; then
                        echo "====================================================="
                        echo "✅ Code style checks and tests completed successfully!"
                        echo "====================================================="
                    else
                        echo "====================================================="
                        echo "❌ Some checks failed! Please review the errors above."
                        echo "====================================================="
                    fi

    deploy:
        runs-on: ubuntu-latest
        needs: tests
        if: github.ref_name == 'master'

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Deploy to VPS
                uses: appleboy/ssh-action@v1.0.3
                with:
                    host: ${{ secrets.SSH_VPS_HOST }}
                    username: ${{ secrets.SSH_VPS_USERNAME }}
                    password: ${{ secrets.SSH_VPS_PASSWORD }}
                    script: |
                        cd ${{ secrets.SSH_PROJECT_PATH }}
                        make stop
                        git stash
                        git pull origin master
                        make restart
                        make composer-install
                        make cache-clear
                        make cache-purge
